---
import astroLogo from "../../assets/astro.svg";
const user = Astro.locals.user;
const path = Astro.url.pathname;
// console.log({user, path});
---

<div class="px-2">
  <div class="flex justify-between pt-2">
    <div class="flex items-center space-x-4 flex-1">
      <a href={path === "/m" ? "/" : "/m"}
        ><img
          src={astroLogo.src}
          width="115"
          height="48"
          alt="Astro Homepage"
        /></a
      >
    </div>
    {user ? ( 
    <div class="flex items-center gap-2">
     
    <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation" class="" type="button">
      {     user.avatarUrl ? (
          <img class="w-10 h-10 rounded-full" src={user.avatarUrl} alt="Rounded avatar">
      ) :( <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
    <span class="font-medium text-gray-600 dark:text-gray-300">JL</span>

      </div>
)}
</button>

<div id="dropdownInformation" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg  w-44 dark:bg-gray-700 dark:divide-gray-600 shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)]">
    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
        <div>{user.fullName}</div>
        <div class="font-medium truncate">{user.email}</div>
    </div>

    <!-- <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton"> -->
      <!-- <li> -->
      <!--   <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a> -->
      <!-- </li> -->
      <!-- <li> -->
      <!--   <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a> -->
      <!-- </li> -->
      <!-- <li> -->
      <!--   <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a> -->
      <!-- </li> -->
    <!-- </ul> -->
      <div class="py-2">
        <form method="post" action="/api/v1/auth/logout">
    <button
      type="submit"
      class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
             dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white text-left"
    >
      Đăng xuất
    </button>
  </form>
</div>
    </div>

   
</div> 
    ) : (
    <a href="/login">
      <button type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Đăng nhập</button> 
    </a>
)}
  </div>
  <!-- <div class="flex justify-between items-center py-2"> -->
    <!-- <NewsCategories /> -->
    <!-- <SearchForm /> -->
  <!-- </div> -->
  <hr class="border-gray-300" />
</div>

